<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.finalproject_yaocmengqid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main_Content.SummaryActivity"
            android:label="Personal Consumption Summary" />
        <activity
            android:name=".Main_Content.CalculateActivity"
            android:label="Calculate" />
        <activity
            android:name=".Main_Content.RecordActivity"
            android:parentActivityName=".Main_Content.MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main_Content.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Side_Menu.ProfileActivity" />
        <activity android:name=".Side_Menu.EditActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.finalproject_yaocmengqid"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Side_Menu.GroupActivity" />
        <activity android:name=".Main_Content.ManageGroupActivity" />
        <activity android:name=".Main_Content.ManageGroupAdapter"></activity>
    </application>

</manifest>